<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <h1>iStock</h1>
        <ul class="nav-items">
            <a href="dashboard"><li><i class="fa fa-home"></i>Dashboard</li></a>
            <a href="stock"><li><i class="fa fa-clock-o"></i>Stock</li></a>
            <a href="entries"><li><i class="fa fa-calendar"></i>Entries</li></a>
            <a href="items"><li><i class="fa fa-music"></i>Items</li></a>
            <a href="add-item"><li><i class="fa fa-comment"></i>Add Item</li></a>
            <a href="khatabook"><li><i class="fa fa-keyboard-o"></i>Khatabook</li></a>
            <a href="login"><li><i class="fa fa-keyboard-o"></i>Login</li></a>
            <a href="register"><li><i class="fa fa-keyboard-o"></i>Register</li></a>
        </ul>
    </nav>
</body>
</html>

