<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Item page</h1>
    <form action="add-item" method="post">
        <input type="text" placeholder="Item name" name="itemName">
        <input type="text" placeholder="Purchase Price" name="pp">
        <input type="text" placeholder="Selling Price" name="sp">
        <input type="text" placeholder="Category" name="category">
        <input type="text" placeholder="Quantity" name="quantity">
        <input type="submit">
    </form>
</body>
</html>