<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD DATA</title>
    <link rel="stylesheet" href="/add_datasty.css">
</head>
<body>
   <center>
        <form action="/add_data" method="post">
            <label for="name">Enter Name : </label>
            <input type="text" name="name" id="name" placeholder="Enter Name"><br>
            <label for="amount">Enter amount : </label>
            <input type="number" name="amount" id="amount" min="1" placeholder="Enter Amount"><br>
            <label for="date">Enter date : </label>
            <input type="date" name="date" id="date" placeholder="Enter Date"><br>
            <button>ADD</button>
        </form>
    </center>
</body>
</html>
